html.hc-nav-yscroll {
  overflow-y: scroll;
}
body.hc-nav-open {
  overflow: visible;
  position: fixed;
  width: 100%;
  min-height: 100%;
}
html,
body,
div,
span,
header,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
ol,
ul {
  list-style: none;
}
.cf::before,
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf::after {
  clear: both;
}
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(-134deg, #517fa4 0%, #243949 100%);
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #fffce1;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
#main-nav {
  display: none;
}
header {
  position: relative;
  padding: 50px 0 20px;
}
header h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 8px;
}
header h2 {
  max-width: 680px;
  margin: auto;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
header .git {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px 4px 0;
  font-size: 15px;
  font-weight: 400;
  color: #fffce1;
  background: #54b9cb;
  transition: background 0.15s ease-in-out;
}
header .git:hover {
  background: #4ca8b9;
}
header .git:hover svg {
  border-color: #54b9cb;
}
header .git svg {
  width: 15px;
  height: 15px;
  fill: #fffce1;
  position: relative;
  top: 2px;
  padding: 0 10px;
  margin-right: 10px;
  border-right: 1px solid #4daabb;
  transition: border-color 0.15s ease-in-out;
}
header .ver {
  padding-top: 15px;
  font-weight: 200;
  color: #dab977;
}
header .ver span {
  color: #fffce1;
}
header .toggle {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  top: 20px;
  z-index: 9980;
  width: 35px;
  min-height: 26px;
  position: relative;
  width: auto;
  top: auto;
  left: auto;
  float: left;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  font-size: 18px;
  padding-left: 55px;
  line-height: 22px;
  margin-top: 55px;
  color: #fff;
  text-align: left;
  text-decoration: none;
}
header .toggle span {
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}
header .toggle span,
header .toggle span::before,
header .toggle span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #182631;
  transition: all 0.25s ease;
}
header .toggle span::before,
header .toggle span::after {
  content: "";
  width: 100%;
}
header .toggle span::before {
  top: -11px;
}
header .toggle span::after {
  bottom: -11px;
}
header .toggle.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}
header .toggle.toggle-open span::before {
  transform: translate3d(0, 11px, 0);
}
header .toggle.toggle-open span::after {
  transform: rotate(-90deg) translate3d(11px, 0, 0);
}
header .toggle:hover span,
header .toggle:hover span::before,
header .toggle:hover span::after {
  background: #dab977;
}
header .toggle i {
  font-size: 10px;
  display: block;
  line-height: 10px;
  opacity: 0.7;
}
footer {
  padding-bottom: 40px;
}
footer .swm {
  display: inline-block;
  padding: 0 15px;
}
footer .swm svg {
  display: block;
  width: auto;
  height: 17px;
  margin-top: 22px;
}
footer .swm svg path {
  transition: fill 0.1s ease;
}
footer .swm svg .l-1 {
  fill: #4fb5e1;
}
footer .swm svg .l-2 {
  fill: #f2c053;
}
footer .swm svg .l-3 {
  fill: #a7ce38;
}
footer .swm:not(:hover) svg .l-1 {
  fill: #466e8d;
}
footer .swm:not(:hover) svg .l-2 {
  fill: #9db9cf;
}
footer .swm:not(:hover) svg .l-3 {
  fill: #5989ad;
}
main {
  flex: 1 0 auto;
  padding-bottom: 30px;
  text-align: left;
}
main .content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
main h4 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0;
}
main h4:first-child {
  margin-top: 30px;
}
main .actions {
  margin: 0 -15px;
  text-align: center;
}
main .actions div {
  padding: 0 15px 20px;
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  main .actions:not(.theme) {
    display: flex;
    flex-wrap: wrap;
  }
  main .actions:not(.theme) div {
    float: left;
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
  main .actions:not(.theme).position div {
    float: left;
    flex: 1 1 25%;
    max-width: 25%;
  }
  main .actions.theme::after {
    content: "";
    display: table;
    clear: both;
  }
  main .actions.theme div {
    float: left;
  }
}
main .actions.checkboxes {
  text-align: left;
  padding-top: 8px;
}
main .actions.checkboxes label {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
main .actions.checkboxes label input {
  display: none;
}
main .actions.checkboxes label input:checked ~ span {
  background: #dab977;
}
main .actions.checkboxes label input:checked ~ span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  border: solid #243949;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px 2px;
  transform: translate(-50%, -50%) rotate(45deg);
}
main .actions.checkboxes label span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 22px;
  height: 22px;
  background: #fffce1;
  margin-right: 12px;
  vertical-align: top;
  transition: all 0.1s ease;
}
main .button {
  position: relative;
  display: block;
  padding: 18px 30px 16px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  text-decoration: none;
  color: #243949;
  cursor: pointer;
  background: #fffce1;
  border-radius: 30px/80px;
  transition: all 0.1s ease;
}
main .button:not(.active):hover {
  color: #d5af63;
}
main .button.active {
  background: #dab977;
}
main .thumb {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border: 4px solid #fffce1;
  border-radius: 5px;
  background-size: cover;
}
main .thumb.active {
  border-color: #dab977;
}
body.theme-default .hc-offcanvas-nav .second-nav {
  border-bottom: none !important;
}
